<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/pyangui.css">
  <title>YANG Extractor and Validator</title>
</head>
<body>
  <div class="container">
    <a href="https://github.com/cmoberg/bottle-yang-extractor-validator"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
    <ul class="nav nav-pills">
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation"><a href="/rest">REST API</a></li>
      <li role="presentation" class="active"><a href="/about">About</a></li>
    </ul>
    <h1>About</h1>
    <p class="lead">This application is written using the <a href="http://bottlepy.org/docs/dev/index.html">Bottle</a> framework using a combination of <a href="https://github.com/YangModels/yang/tree/master/tools/xym">xym</a> to fetch and extract YANG modules from IETF specifications, and <a href="https://github.com/mbj4668/pyang">pyang</a> to validate the extracted modules. All code is available in <a href="https://github.com/cmoberg/bottle-yang-extractor-validator">github</a> under a <a href="http://opensource.org/licenses/BSD-3-Clause">BSD 3-Clause License</a>. If you have feedback, feature requests or a bug to report, please open an <a href="https://github.com/cmoberg/bottle-yang-extractor-validator/issues">issue</a> on github.</p>
  </div>
</body>

